<h1>Cars Page</h1>
<div>{{vm}}</div>
<table>
    <thead>
        <tr>
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
            <th>Nickname</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="car in vm.cars.list">
            <td> {{car.year}}</td>
            <td>{{car.name}}</td>
            <td>{{car.model}}</td>
            <td>{{car.nickname}}</td>
            <td>{{car.country}}</td>
        </tr>
    </tbody>
</table>
<!-- </ul>
    <h2>Add Company?</h2>
    <input type="text" ng-model="vm.newCompany.name" placeholder="name">
    <input type="text" ng-model="vm.newCompany.country" placeholder="country">
    {{vm.newCompany}}
    <button ng-click="vm.addNewCompany(vm.newCompany)">Add New Company</button>
</div> -->